:root {
    --primary: #faab00;
    --sd-color-primary: #faab00;
    --sd-color-secondary: #6c757d;
    --sd-color-success: #28a745;
    --sd-color-info: #faab00;
    --sd-color-warning: #f0b37e;
    --sd-color-danger: #dc3545;
    --sd-color-light: #f8f9fa;
    --sd-color-muted: #6c757d;
    --sd-color-dark: #212529;
    --sd-color-primary-highlight: #0069d9;
    --sd-color-secondary-highlight: #5c636a;
    --sd-color-success-highlight: #228e3b;
    --sd-color-info-highlight: #148a9c;
    --sd-color-warning-highlight: #cc986b;
    --sd-color-danger-highlight: #bb2d3b;
    --sd-color-light-highlight: #d3d4d5;
    --sd-color-muted-highlight: #5c636a;
    --sd-color-dark-highlight: #1c1f23;
    --sd-color-primary-text: #fff;
    --sd-color-secondary-text: #fff;
    --sd-color-success-text: #fff;
    --sd-color-info-text: #fff;
    --sd-color-warning-text: #212529;
    --sd-color-danger-text: #fff;
    --sd-color-light-text: #212529;
    --sd-color-muted-text: #fff;
    --sd-color-dark-text: #fff;
    --sd-color-shadow: rgba(0, 0, 0, 0.15);
    --sd-color-card-border: rgba(0, 0, 0, 0.125);
    --sd-color-card-border-hover: hsla(231, 99%, 66%, 1);
    --sd-color-card-background: transparent;
    --sd-color-card-text: inherit;
    --sd-color-card-header: transparent;
    --sd-color-card-footer: transparent;
    --sd-color-tabs-label-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-hover: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-inactive: hsl(0, 0%, 66%);
    --sd-color-tabs-underline-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-underline-hover: rgba(178, 206, 245, 0.62);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: rgb(222, 222, 222);
    --sd-color-tabs-underline: rgb(222, 222, 222);
    --sd-fontsize-tabs-label: 1rem
}

.wy-side-nav-search {
    background-color: #ffffff;
}

.wy-nav-side {
    background: #faab0048;
    color: #000000;
}

.wy-menu-vertical a {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #000000;
}

.wy-table-responsive table {
    border: none;
    border-color: #ffffff !important;
    /* table-layout: fixed; */
}

.wy-table-responsive table tbody td .pre {
    background: #ffffff;
    color: #000000;
    font-size: 87.5%;
}

.wy-table-responsive table tbody .row-odd {
    background-color: #faab0048;
}

.wy-table-responsive table thead tr {
    border-bottom: 2px solid #ffffff;
}

.wy-table-responsive table thead th {
    line-height: 1.75rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.wy-table-responsive table tbody td {
    color: #000000;
    white-space: normal;
    padding: 0.9375rem;
    font-size: 1rem;
    line-height: 1.375rem;
}

.wy-table-responsive table tbody td .pre {
    background: #ffffff;
    color: #000000;
    font-size: 100%;
}
.wy-table-responsive table tbody td code {
    font-size: 100%;
}


code.literal {
    color: #000000 !important;
    background-color: #fbfbfb !important;
}

/*.wy-nav-content {
    max-width: none;
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}


.wy-table-responsive {
    overflow: visible !important;
}